@font-face {
  font-family: 'Lato';
  src: url('./res/Lato-Thin.woff') format("woff"),
       url('./res/Lato-Thin.ttf') format("truetype")  
}

#titlePage {
  background: linear-gradient(45deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
}

#socials {
  background: linear-gradient(45deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
}

#socialLst {
  position: relative;
  top: 30vh;
}

#socialLst > div {
  margin-bottom: 7vh;
}

#socialLst > div > img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
  right: 5vw;
}

#socialLst > div > a {
  font-size: min(4vh, 5vw);
  color: #666666;
  font-family: "Lato", sans-serif;
  position: relative;
  left: 5vw;
  text-decoration: none
}

.pane {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  text-align: center;

}

.pane > img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 70vw;
}

.title {
  display: block;
  font-size: min(7vh, 6vw);
  color:;
  position: relative;
  top: 20%;
  font-family: "Lato", sans-serif;
}

.mv {
  font-size: 50px;
  height: 50px;
  color: #888888;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7vh;
  cursor: pointer;

  font-family: "Lato", serif;

  user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.down {
  -webkit-animation: bobDown 3s infinite;
          animation: bobDown 3s infinite;
}

.up {
  -webkit-animation: bobUp 3s infinite;
          animation: bobUp 3s infinite;
}

@-webkit-keyframes bobDown {
  0%, 50%, 100% {
    bottom: 7%;
  }
  25% {
    bottom: 5%
  }
}

@keyframes bobDown {
  0%, 50%, 100% {
    bottom: 7%;
  }
  25% {
    bottom: 5%
  }
}




@-webkit-keyframes bobUp {
  0%, 50%, 100% {
    top: 5%
  }

  25% {
    top: 7%;
  }
}




@keyframes bobUp {
  0%, 50%, 100% {
    top: 7%
  }

  25% {
    top: 5%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
